---
layout: page
title: Examples
pageKey: examples
permalink: /examples
searchable: true
---
<div class="row">
    {% include leftbar.html %}
    
    <div class="col-md-9 col-xl-9 ms-md-auto py-5">
        <h1 id="intro" class="mb-3">Examples</h1>
        <p class="lead mb-4">
            The examples below attempt to demonstrate the myriad ways in which you can use Bootbox.
        </p>
        <p>
            Have an example you&apos;d like to add? <a href="https://github.com/bootboxjs/bootbox/issues">Open a new issue</a>, or 
            add a <a href="https://github.com/bootboxjs/bootbox/pulls">pull-request</a> with your example added to this page.
        </p>

        <div class="page-content">
            {% include examples/alert.html %}

            {% include examples/confirm.html %}

            {% include examples/prompt.html %}

            {% include examples/dialog.html %}

            <footer class="page-footer">
                <div class="row">
                    <div class="col">
                        <a href="{{ 'getting-started' | absolute_url }}" class="btn btn-outline-info">
                            <i class="fas fa-angle-double-left"></i> 
                            Getting Started
                        </a>
                    </div>
                    <div class="col text-center">
                        <button type="button" class="btn btn-outline-secondary" disabled>
                            Examples
                        </button>
                    </div>
                    <div class="col text-end">
                        <a href="{{ 'documentation' | absolute_url }}" class="btn btn-outline-info">
                            Documentation 
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
        <div id="bb-growl" class="bb-alert alert alert-info" style="display:none;">
            <span>The examples populate this alert with dummy content</span>
        </div>
        <div class="d-none">
            <div id="alert-message-template">Your message <b>here…</b></div>
        </div>
    </div>
</div>