---
layout: page
title: Frequently Asked Questions
pageKey: faq
permalink: /faq
searchable: true
---
<div class="row">
    {% include leftbar.html %}
    
    <div class="col-md-9 col-xl-9 ms-md-auto py-5">
        <h1 id="intro" class="mb-3">FAQ / Troubleshooting</h1>
        <p class="lead mb-4">
            Bootbox.js is designed to be relatively easy to use, but there are some known issues and frequently asked questions, as noted here.
        </p>
        <div class="page-content">
            {% include faq/non-blocking.html %}

            {% include faq/prevent-page-submit.html %}

            {% include faq/prompt-require-value.html %}

            {% include faq/adding-locales.html %}

            {% include faq/layout-issues.html %}

            {% include faq/package-warnings.html %}

            <footer class="page-footer">
                <div class="row">
                    <div class="col">
                        <a href="{{ 'documentation' | absolute_url }}" class="btn btn-outline-info">
                            <i class="fas fa-angle-double-left"></i> 
                            Documentation
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>