<aside class="rightbar align-self-stretch border-start">
    <div class="rightbar-content py-4">
        <h4 class="mb-4">
            <span class="fas fa-question-circle text-primary"></span>
            Looking for help?
        </h4>
        <dl>
            <dt>Bugs</dt>
            <dd>
                <p>
                    If you think you've found a bug in Bootbox, please <a href="https://github.com/bootboxjs/bootbox/issues">open an issue on Github</a>.
                    Please take a moment to search existing issues before opening a new issue.
                </p>
            </dd>

            <dt>Troubleshooting</dt>
            <dd>
                <p>
                    Need help getting your code to work?
                    <a href="https://stackoverflow.com/questions/tagged/bootbox" class="text-nowrap text-dark">
                        <span class="fab fa-stack-overflow text-stack-overflow"></span>
                        stack<b>overflow</b>
                    </a> is your best option.
                </p>
                <p>
                    If possible, include a fiddle or Stack Snippet that demonstrates the issue you're
                    experiencing.
                </p>
            </dd>
        </dl>
    </div>
</aside>