.bb-js
{
    color: #444;
    font-family: "proxima-nova","Helvetica Neue","Helvetica","sans-serif";
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAABESURBVDhP7cyhEQAwDMPAkO6/bLhLBXQJ7xU8s1xJRt19JhqRRaQRWUQakUWkEVlEGpFFpBFZRBqRRbQO7JT+wQMHqQtICe8f4Ub7/gAAAABJRU5ErkJggg==') /*../images/ps_neutral.png*/ repeat top left;
}

    .bb-js .navbar-inverse
    {
        background-color: #354250;
        border-bottom: none;
        margin-bottom: 0;
        border-radius: 0;
    }

        .bb-js .navbar-inverse .navbar-brand
        {
            color: #fff;
            font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        }

            .bb-js .navbar-inverse .navbar-brand:hover,
            .bb-js .navbar-inverse .navbar-brand:focus
            {
                color: rgba(255, 255, 255,.75);
                background-color: transparent;
            }

        .bb-js .navbar-inverse .navbar-text
        {
            color: #fff;
        }

        .bb-js .navbar-inverse .navbar-nav > li > a
        {
            color: #d5d5d5;
        }

            .bb-js .navbar-inverse .navbar-nav > li > a:hover,
            .bb-js .navbar-inverse .navbar-nav > li > a:focus
            {
                color: #fff;
                background-color: transparent;
            }

        .bb-js .navbar-inverse .navbar-nav > .active > a,
        .bb-js .navbar-inverse .navbar-nav > .active > a:hover,
        .bb-js .navbar-inverse .navbar-nav > .active > a:focus
        {
            color: #fff;
            background-color: rgba(0,0,0,.5);
        }

        .bb-js .navbar-inverse .navbar-nav > .disabled > a,
        .bb-js .navbar-inverse .navbar-nav > .disabled > a:hover,
        .bb-js .navbar-inverse .navbar-nav > .disabled > a:focus
        {
            color: #fff;
            background-color: transparent;
        }

        .bb-js .navbar-inverse .navbar-toggle
        {
            border-color: #dddddd;
        }

            .bb-js .navbar-inverse .navbar-toggle:hover,
            .bb-js .navbar-inverse .navbar-toggle:focus
            {
                background-color: #dddddd;
            }

            .bb-js .navbar-inverse .navbar-toggle .icon-bar
            {
                background-color: #ccc;
            }

        .bb-js .navbar-inverse .navbar-collapse,
        .bb-js .navbar-inverse .navbar-form
        {
            border-color: rgba(0,0,0,.5);
        }

        .bb-js .navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
        .bb-js .navbar-inverse .navbar-nav > .dropdown > a:focus .caret
        {
            border-top-color: #fff;
            border-bottom-color: #fff;
        }

        .bb-js .navbar-inverse .navbar-nav > .open > a,
        .bb-js .navbar-inverse .navbar-nav > .open > a:hover,
        .bb-js .navbar-inverse .navbar-nav > .open > a:focus
        {
            background-color: rgba(0,0,0,.5);
            color: #fff;
        }

            .bb-js .navbar-inverse .navbar-nav > .open > a .caret,
            .bb-js .navbar-inverse .navbar-nav > .open > a:hover .caret,
            .bb-js .navbar-inverse .navbar-nav > .open > a:focus .caret
            {
                border-top-color: #fff;
                border-bottom-color: #fff;
            }

        .bb-js .navbar-inverse .navbar-nav > .dropdown > a .caret
        {
            border-top-color: #fff;
            border-bottom-color: #fff;
        }

@media (max-width: 767)
{
    .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > li > a
    {
        color: #fff;
    }

        .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus
        {
            color: #fff;
            background-color: transparent;
        }

    .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus
    {
        color: #fff;
        background-color: rgba(0,0,0,.5);
    }

    .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .bb-js .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus
    {
        color: #ccc;
        background-color: transparent;
    }
}

.bb-js .navbar-inverse .navbar-link
{
    color: #fff;
}

    .bb-js .navbar-inverse .navbar-link:hover
    {
        color: #fff;
    }


.container
{
    max-width: 940px;
}

    .container h1,
    .container h2,
    .container h3,
    .container h4,
    .container h5,
    .container h6
    {
        font-weight: 700;
    }



.bb-header
{
    background-color: #354250;
    color: #fff;
    margin-bottom: 2em;
}

    .bb-header.bb-header-fixed-navbar
    {
        padding-top: 50px;
    }

    .bb-header h1
    {
        color: #fff;
        text-shadow: 2px 2px 2px #777;
        font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
    }

.bb-docs-header
{
    /*color: #fff;
    background-color: #343E60;*/
    padding: 50px 0 75px;
}

.bb-masthead
{
}

    .bb-masthead h1
    {
        font-size: 5em;
    }

.bb-meta
{
    font-size: 16px;
}

    .bb-meta .bb-meta-list
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .bb-meta .bb-meta-list li
        {
            display: inline-block;
            margin: 5px 2em;
        }

    .bb-meta a
    {
        color: #d9534f;
    }


.content
{
    color: #555;
}

.docs-container section:first-child
{
    padding-top: 0;
}

.docs-container section
{
}

.docs-container h1
{
    font-size: 42px;
    /*margin-bottom: 30px;*/
}

.docs-container h1,
.docs-container h2,
.docs-container h3,
.docs-container h4:not(.modal-title),
.docs-container h5,
.docs-container h6
{
    color: #232830;
    font-weight: 700;
}

.docs-container
{
    margin: 0 auto;
    max-width: 900px;
    padding: 40px 0;
    -moz-transition: -webkit-transform 200ms ease-in-out 0s, -moz-transform 200ms ease-in-out 0s, -o-transform 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    -o-transition: -webkit-transform 200ms ease-in-out 0s, -moz-transform 200ms ease-in-out 0s, -o-transform 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    -webkit-transition: -webkit-transform 200ms ease-in-out 0s, -moz-transform 200ms ease-in-out 0s, -o-transform 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    transition: -webkit-transform 200ms ease-in-out 0s, -moz-transform 200ms ease-in-out 0s, -o-transform 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
}

    .docs-container .intro h3
    {
        color: #566076;
        font-weight: normal;
    }


.bb-section
{
    margin: 2em 0;
}

    .bb-section p
    {
        margin-bottom: 1.35em;
    }

    .bb-section pre.prettyprint
    {
        margin-bottom: 1.35em;
    }

.code-leader code
{
    font-size: 2em;
}

#gist6327194,
#gist6339916
{
    height: 300px;
    overflow: auto;
}

#gist6339780
{
    height: 600px;
    overflow: auto;
}

.bb-code
{
    font-family: "Courier";
    font-size: 1.2em;
}

.bb-code-string
{
    color: #3276b1;
}

.bb-code .bb-code-outline
{
    padding: 1em;
    border: solid 1px rgba(255, 255, 255, .5);
}

#footer
{
    margin-top: 3em;
    padding: 3em 0;
    background: #141414;
    color: rgba(255, 255, 255, .5);
}

    #footer a
    {
        color: #34C2F1;
    }


#scroll-up-btn
{
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background: none;
    color: #77c2db;
    line-height: 1;
    opacity: .65;
}

    #scroll-up-btn:hover
    {
        color: #B40E4D;
        opacity: 1;
    }


.alert--finch
{
    display: block;
    font-weight: bold;
    text-align: center;
}

.finch-promo
{
    display: block;
    color: rgb(68, 68, 68);
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    background: url('https://meetfinch.com/img/finch-icon.png') 5px 5px no-repeat;
    min-height: 110px;
    padding-top: 10px;
    padding-left: 110px;
    border-radius: 3px;
    border: 1px solid #BBE4FF;
    background-color: #f7f7f7;
}

    .finch-promo:hover
    {
        background-color: #f3f3f3;
        color: rgb(68, 68, 68);
        text-decoration: none;
    }

.promo-hl
{
    color: #337ab7;
}

@media (-webkit-min-device-pixel-ratio: 2)
{
    .finch-promo
    {
        background-image: url('https://meetfinch.com/img/finch-icon@2x.png');
        background-size: 96px;
    }
}

.bb-light-blue
{
    background-color: #54949B;
}


.docs-container h3.bb-subsection-header
{
    clear: both;
    font-size: 22px;
    margin-bottom: 12px;
    padding-top: 16px;
}

.docs-container h4.bb-subsection-header
{
    margin: 18px 0 12px;
}

.docs-container .bb-subsection
{
    margin-bottom: 25px;
}

    .docs-container .bb-subsection pre
    {
        margin-bottom: 2em;
    }

    .docs-container .bb-subsection h4:not(.modal-title)
    {
        margin-top: 1.5em;
    }


.docs-container .bb-example figure
{
    background-color: #F7F7F9;
    border-radius: 4px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0 0 15px;
    padding: 45px 0 15px;
    position: relative;
}

.docs-container .bb-example pre
{
    margin-bottom: 5px;
}

.docs-container .bb-example figcaption
{
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

.docs-container .bb-function
{
}

    .docs-container .bb-function h3
    {
        font-weight: normal;
        font-family: monospace;
    }

.bb-locales-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

    .bb-locales-list li
    {
        display: inline-block;
    }


.bb-notes-list
{
    margin: 2em 0;
}

    .bb-notes-list dt
    {
        border-bottom: dotted 1px #e5e5e5;
        margin-bottom: 8px;
        font-size: 1.3em;
    }

        .bb-notes-list dt:before
        {
            content: '\f0a4';
            font-family: FontAwesome;
        }

    .bb-notes-list dd
    {
        margin-bottom: 1.5em;
    }

.bb-examples-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

    .bb-examples-list > li
    {
        padding-bottom: 1em;
        margin-bottom: 2em;
        border-bottom: dotted 1px #d5d5d5;
    }

.console
{
    border: dotted 1px #d5d5d5;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

    .console > div
    {
        padding: 8px;
        border-bottom: dotted 1px #d5d5d5;
    }

        .console > div .count
        {
            font-weight: 600;
            padding: 0 3px;
        }

.bb-examples-console-sidebar
{
}

    .bb-examples-console-sidebar.affix
    {
        top: 200px;
        width: 278px;
    }


.modal.bb-alternate-modal .modal-content
{
    background: #555;
    color: #fff;
}


.docs-container .bs-callout
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}

    .docs-container .bs-callout h4,
    .docs-container .bb-section .bs-callout h4
    {
        margin-bottom: 5px;
        margin-top: 0;
    }

    .docs-container .bs-callout p:last-child
    {
        margin-bottom: 0;
    }

    .docs-container .bs-callout code
    {
        border-radius: 3px;
    }

    .docs-container .bs-callout + .bs-callout
    {
        margin-top: -5px;
    }

.docs-container .bs-callout-danger
{
    border-left-color: #ce4844;
}

    .docs-container .bs-callout-danger h4
    {
        color: #ce4844;
    }

.docs-container .bs-callout-warning
{
    border-left-color: #aa6708;
}

    .docs-container .bs-callout-warning h4
    {
        color: #aa6708;
    }

.docs-container .bs-callout-info
{
    border-left-color: #1b809e;
}

    .docs-container .bs-callout-info h4
    {
        color: #1b809e;
    }



.block-danger
{
    color: #fff;
    background: #ce4844;
    margin: 0;
    padding: 1em;
}

    .block-danger a
    {
        color: rgba(255, 255, 255, .85);
        text-decoration: underline;
    }


.bb-alert
{
    position: fixed;
    bottom: 25%;
    right: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
}

.finch-promo {
    display:block;
    color:rgb(68, 68, 68);
    text-decoration:none;
    margin-top:2em;
    font-size:21px;
    font-weight:300;
    line-height:1.4;
    background:url('https://meetfinch.com/img/finch-icon.png') 5px 5px no-repeat;
    min-height:110px;
    padding-top:10px;
    padding-left:110px;
    border-radius:3px;
    border:1px solid #BBE4FF;
    background-color:#f7f7f7;
}

.finch-promo:hover {
    background-color:#f3f3f3;
    color:rgb(68, 68, 68);
    text-decoration:none;
}

.promo-hl {
    color: #337ab7;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .finch-promo {
        background-image:url('https://meetfinch.com/img/finch-icon@2x.png');
        background-size:96px;
    }
}

.bb-light-blue {
    background-color:#54949B;
}
