/* Colors */
/* Text */
/* Sizes */
@keyframes swing { 0%, 30%, 50%, 70%, 100% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); } }

@keyframes sonar { 0% { transform: scale(0.9);
    opacity: 1; }
  100% { transform: scale(2);
    opacity: 0; } }

/* Colors */
/* Text */
/* Sizes */
.sidebar-wrapper { background: rgba(0, 0, 0, 0.85); color: #f5f5f5; width: 280px; height: calc(100% - 75px); max-height: calc(100% - 75px); position: fixed; top: 75px; left: -280px; bottom: 0; z-index: 999; transition: left .3s ease, width .3s ease; }

.sidebar-wrapper ul { list-style-type: none; padding: 0; margin: 0; }

.sidebar-wrapper a { text-decoration: none; transition: color .3s ease; }

.sidebar-wrapper .sidebar-item { transition: all .3s linear; }

.sidebar-wrapper .sidebar-content { max-height: 100%; height: 100%; overflow-y: scroll; position: relative; }

.sidebar-wrapper .sidebar-content.desktop { overflow-y: hidden; }

.sidebar-wrapper .badge { border-radius: 4px; }

.sidebar-wrapper .sidebar-brand { font-size: 1.5rem; font-weight: 400; padding: 1rem 1.2rem; display: flex; align-items: center; background-color: #ba2150; color: #fff; }

.sidebar-wrapper .sidebar-brand > a { color: #fff !important; }

.sidebar-wrapper .sidebar-brand > a:hover { background: none !important; box-shadow: none !important; }

.sidebar-wrapper .sidebar-brand > a b { font-weight: 700; }

.sidebar-wrapper .sidebar-header { padding: 20px; overflow: hidden; }

.sidebar-wrapper .sidebar-search > form { padding: 1rem 1.2rem; }

.sidebar-wrapper .sidebar-search input, .sidebar-wrapper .sidebar-search button { border-radius: 0; }

.sidebar-wrapper .sidebar-search .input-group { flex-wrap: nowrap; }

.sidebar-wrapper .sidebar-search .input-group .search-menu { border: solid 1px #f8f9fa; }

.sidebar-wrapper .sidebar-search .input-group:hover .input-group-append .btn, .sidebar-wrapper .sidebar-search .input-group:hover .search-menu { border-color: #dae0e5; }

.sidebar-wrapper .sidebar-search .input-group-append .input-group-text, .sidebar-wrapper .sidebar-search .input-group-append .btn { border-radius: 0; border-left: 0; background-color: #fff; }

.sidebar-wrapper .sidebar-search .powered-by a, .sidebar-wrapper .sidebar-search .powered-by a:hover { background: none; font-weight: bold; color: #454545; transition: none; }

.sidebar-wrapper .sidebar-menu { padding: 1rem 0; }

.sidebar-wrapper .sidebar-menu .header-menu span { font-weight: bold; font-size: 1rem; padding: 15px 20px 5px 20px; display: inline-block; }

.sidebar-wrapper .sidebar-menu ul li a { display: flex; flex-wrap: nowrap; align-items: center; text-decoration: none; position: relative; padding: 8px 30px 8px 20px; width: 95%; margin: auto; border-radius: 4px; }

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before { display: inline-block; animation: swing ease-in-out .5s 1 alternate; }

.sidebar-wrapper .sidebar-menu ul li a i { margin-right: 10px; font-size: 20px; width: 35px; height: 35px; line-height: 35px; text-align: center; flex-shrink: 0; }

.sidebar-wrapper .sidebar-menu ul li a .menu-text { flex-grow: 1; /* white-space: nowrap; */ text-overflow: ellipsis; flex-shrink: 1; overflow: hidden; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105"; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; background: 0 0; position: absolute; right: 15px; top: 14px; transition: transform .3s ease; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu { width: 95%; margin: 5px auto; display: none; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu .nav-items .nav-link.active { font-weight: 700; box-shadow: 0 3px 15px rgba(36, 37, 38, 0.08); background: #fff; color: #cc0000; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu .menu-link { font-size: 1rem; padding: 0.5rem 1rem; width: 100%; margin: 0 auto; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu .menu-link span { font-weight: 700; color: #cc0000; display: block; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu .menu-link.active { font-weight: 700; box-shadow: 0 3px 15px rgba(36, 37, 38, 0.08); background: #fff; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu .header-menu { margin-left: 0.5rem; margin-bottom: 0; padding: 0; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu .header-menu span { padding: 0.5rem 1rem; margin-bottom: 0; display: block; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul { padding: 5px 0; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li { /*padding-left: 1rem;*/ font-size: 0.85rem; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a { overflow: hidden; text-overflow: ellipsis; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before { content: "\f111"; font-family: "Font Awesome 5 Free"; font-weight: 400; font-style: normal; display: inline-block; text-align: center; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 10px; font-size: 8px; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label { margin-left: auto; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.open > a:after { transform: rotate(90deg); right: 15px; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.open .sidebar-submenu { display: block; }

.sidebar-wrapper .sidebar-footer { position: absolute; width: 100%; bottom: 0; display: flex; }

.sidebar-wrapper .sidebar-footer > div { flex-grow: 1; text-align: center; height: 35px; line-height: 35px; position: static; display: flex; }

.sidebar-wrapper .sidebar-footer > div > a { flex-grow: 1; }

.sidebar-wrapper .sidebar-footer .dropdown-menu { bottom: 36px; left: 0 !important; top: initial !important; right: 0; transform: none !important; border-radius: 0; font-size: .9rem; }

.sidebar-wrapper .sidebar-item { border-top: 1px solid rgba(0, 0, 0, 0.0625); }

.sidebar-wrapper .sidebar-item:first-child { border-top: none; }

.sidebar-wrapper a:not(.dropdown-item), .sidebar-wrapper .sidebar-header { color: #f5f5f5; }

.sidebar-wrapper .sidebar-search input, .sidebar-wrapper .sidebar-search i { color: #424242; }

.sidebar-wrapper .sidebar-menu > ul > li { margin-bottom: 5px; }

.sidebar-wrapper a:not(.dropdown-item):hover, .sidebar-wrapper .sidebar-menu li.active > a, .sidebar-wrapper .sidebar-menu li.open > a { color: #fefefe; box-shadow: 0 3px 15px rgba(36, 37, 38, 0.08); background: #4f4f4f; }

.sidebar-wrapper .sidebar-search input.search-menu, .sidebar-wrapper .sidebar-search .input-group-text { background-color: #fff; border: none; box-shadow: none; margin-left: 1px; }

.sidebar-wrapper .sidebar-menu a:hover i, .sidebar-wrapper .sidebar-menu a:hover:before, .sidebar-wrapper .sidebar-menu li.active a i { color: #d02559; }

.sidebar-wrapper .sidebar-menu .nav-item.active > a { background: #a41d47; color: #fefefe; }

.sidebar-wrapper .sidebar-menu .nav-item.active > a i { color: #fff; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown div { background-color: rgba(0, 0, 0, 0.25); color: #343131; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown div a.nav-link { color: #f5f5f5; }

.sidebar-wrapper .sidebar-menu .sidebar-dropdown div a.nav-link:not(.active):hover { color: #fefefe; }

.sidebar-wrapper .sidebar-menu .header-menu span { color: #df4977; }

.sidebar-wrapper .sidebar-footer { background-color: #f9f9f9; box-shadow: 0px -1px 5px #ececec; border-top: 1px solid #f9f9f9; }

.sidebar-wrapper .sidebar-footer > div:first-child { border-left: none; }

.sidebar-wrapper .sidebar-footer > div:last-child { border-right: none; }

.page-wrapper.toggled #close-sidebar { color: #fefefe; }

.page-wrapper.toggled #close-sidebar:hover { color: #424242; }

.toggled .sidebar-wrapper { left: 0; }

html, body { font-family: "Open Sans", sans-serif; font-weight: 300; display: flex; flex-direction: column; background: #ededed; }

.custom-select { -webkit-appearance: none; appearance: none; }

.font-weight-bold, b { font-weight: 700; }

a { outline: none; }

.text-brand { color: #ba2150; }

.text-bb-brand { font-family: "Bree Serif", serif; }

.text-bb-alt { color: #fff; }

.text-no-hover:hover { text-decoration: none; }

.text-d-light { color: #bababa; }

.text-stack-overflow { color: #f48024; }

.bg-brand { background-color: #ba2150; color: #fff; }

.marque-header h1 { font-size: 5rem; }

.marque-header a:hover { text-decoration: none; }

.lead-2 { max-width: 52rem; margin-left: auto; margin-right: auto; margin-bottom: 2rem; }

samp { color: #ba2150; font-weight: 600; font-family: 'Open Sans', sans-serif; }

.btn.btn-brand { background-color: #ba2150; color: #fff; }

.btn.btn-brand:hover { background-color: #db3367; }

.btn.btn-clear { font-size: 0.85rem; padding: 0; margin: 0 1rem 0.5rem; background: none; color: #fff; }

.btn.btn-clear .fas { color: #fff; }

.btn.btn-clear:hover { color: white; }

dl dt { font-weight: 600; margin-bottom: 0.5rem; }

dl dd { margin-bottom: 2rem; }

a.text-no-decoration { text-decoration: none; }

a:hover .bg-brand { background-color: #db3367; }

.main-content .main-content-inner { max-width: 1000px; }

.main-content .main-content-inner #intro { font-family: "Bree Serif", serif; font-size: 3rem; }

.rightbar .rightbar-content { position: sticky; top: 0; align-self: flex-start; min-width: 360px; max-width: 360px; padding: 1rem 1.2rem; }

/*----------------page-wrapper----------------*/
.page-wrapper { display: flex; flex-direction: column; }

.page-footer { margin-top: 3rem; padding-top: 3rem; border-top: 1px solid rgba(0, 0, 0, 0.1); }

.page-footer .row .col { text-align: center; }

.page-footer .row .col:first-child { text-align: left; }

.page-footer .row .col:last-child { text-align: right; }

.anchorjs-link { margin-left: -1.25rem !important; color: #ba2150; }

.bb-scroll-widget { position: fixed; bottom: 2rem; right: 2rem; font-size: 1.5rem; z-index: 9999; display: none; }

.bb-scroll-widget a { text-decoration: none; }

.bb-scroll-widget .back-to-top { text-decoration: none; padding: 0; }

.bb-scroll-widget .back-to-top .fas.fa-square { color: rgba(238, 61, 63, 0.65); }

.bb-scroll-widget .back-to-top .fas.fa-arrow-up { color: #fff; }

.bb-scroll-widget .back-to-top:hover .fas.fa-square { color: #ba2150; }

.bb-scroll-widget .back-to-top:focus { outline: none; }

.bb-scroll-widget .back-to-top > i { padding: 5px; }

.breadcrumb { display: inline-flex; padding: 0.5rem; background: transparent; }

.breadcrumb .breadcrumb-item { text-transform: capitalize; font-weight: 400; }

.breadcrumb .breadcrumb-item a { color: #000; }

.breadcrumb .breadcrumb-item + .breadcrumb-item::before { color: #bababa; }

.topic .topic-header h2 { font-weight: 700; }

.topic .topic-subsection { margin-bottom: 3rem; }

.topic .topic-subsection .topic-subsection-header { font-size: 1.65rem; font-weight: 500; margin: 2.25rem 0 1.25rem; }

.section-divider, .topic-divider { margin: 3rem auto; }

pre[class*="language-"] { margin-bottom: 1rem; }

.bs-callout { border-color: #ededed; border-image: none; border-radius: 0; border-style: solid; border-width: 0 0 0 5px; margin: 1rem 0; padding: 1rem; }

.bs-callout h4, .bs-callout .callout-heading { font-weight: 700; margin-bottom: 1rem; margin-top: 0; }

.bs-callout p:last-child { margin-bottom: 0; }

.bs-callout code { border-radius: 3px; }

.bs-callout + .bs-callout { margin-top: -5px; }

.bs-callout.bs-callout-danger { border-left-color: #ce4844; }

.bs-callout.bs-callout-danger .far, .bs-callout.bs-callout-danger .fas, .bs-callout.bs-callout-danger .fab, .bs-callout.bs-callout-danger .fad, .bs-callout.bs-callout-danger .fal { color: #ce4844; }

.bs-callout.bs-callout-warning { border-left-color: #aa6708; }

.bs-callout.bs-callout-warning .far, .bs-callout.bs-callout-warning .fas, .bs-callout.bs-callout-warning .fab, .bs-callout.bs-callout-warning .fad, .bs-callout.bs-callout-warning .fal { color: #aa6708; }

.bs-callout.bs-callout-info { border-left-color: #1b809e; }

.bs-callout.bs-callout-info .far, .bs-callout.bs-callout-info .fas, .bs-callout.bs-callout-info .fab, .bs-callout.bs-callout-info .fad, .bs-callout.bs-callout-info .fal { color: #1b809e; }

.bb-example figure { background-color: #F7F7F9; border-radius: 4px; border-color: #e5e5e5 #eee #eee; border-style: solid; border-width: 1px 0; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset; margin: 0 0 15px; padding: 45px 0 15px; position: relative; }

.bb-example pre { margin-bottom: 5px; }

.bb-example figcaption { color: #959595; font-size: 14px; font-weight: 500; left: 15px; letter-spacing: 1px; position: absolute; text-transform: uppercase; top: 15px; }

.bb-example figcaption a { opacity: 0; position: absolute; top: 0; right: 100%; opacity: 0; padding-right: 2px; }

.bb-example figcaption:hover a { opacity: 1; }

.bb-example figcaption b { font-weight: 700; }

.bb-example p:last-child { margin-bottom: 0; }

.bb-modal-content { position: relative; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0.3rem; outline: 0; }

.bb-modal-header { display: -ms-flexbox; display: flex; -ms-flex-align: start; align-items: flex-start; -ms-flex-pack: justify; justify-content: space-between; padding: 1rem; border-bottom: 1px solid #e9ecef; border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem; }

.bb-modal-header .close { padding: 1rem; margin: -1rem -1rem -1rem auto; }

.bb-modal-title { margin-bottom: 0; line-height: 1.5; }

.bb-modal-body { position: relative; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 1rem; }

.bb-modal-footer { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: end; justify-content: flex-end; padding: 1rem; border-top: 1px solid #e9ecef; }

.bb-modal-footer > :not(:first-child) { margin-left: .25rem; }

.bb-modal-footer > :not(:last-child) { margin-right: .25rem; }

@media (min-width: 576px) { .bb-modal-dialog { max-width: 500px; margin: 1.75rem auto; } .bb-modal-dialog-centered { min-height: calc(100% - (1.75rem * 2)); } .bb-modal-dialog-centered::before { height: calc(100vh - (1.75rem * 2)); } .bb-modal-sm { max-width: 300px; } }

@media (min-width: 992px) { .bb-modal-lg { max-width: 800px; } }

#bb-growl { position: fixed; bottom: 25%; right: 0; margin-bottom: 0; font-size: 1.2em; padding: 1em 1.3em; z-index: 2000; }

.options-list dd { padding-bottom: 1.5rem; margin-bottom: 1.5rem; border-bottom: dotted 1px #ededed; }

.options-list dd:last-child { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }

.options-list dd .meta-info { display: inline-block; width: 5rem; }

.options-list dd .meta-types code { display: inline-block; border-right: solid 1px #ececec; margin-right: 0.5rem; padding-right: 0.5rem; }

.options-list dd .meta-types code:last-child { border-right: none; padding-right: 0; }

.options-list dd p:last-child { margin-bottom: 0; }

.bb-function { padding-bottom: 1.5rem; margin-bottom: 1.5rem; border-bottom: dotted 1px #ededed; }

.bb-function:last-child { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }

.bb-function p:last-child { margin-bottom: 0; }

.content-toggle > span { border-right: solid 1px #ececec; margin-right: 1rem; padding-right: 1rem; }

.content-toggle > span:last-child { border-right: none; padding-right: 0; }

#lunrsearchresults { color: rgba(255, 255, 255, 0.95); }

#lunrsearchresults .lunrsearchresult { font-size: 0.85rem; padding: 0.5rem 1rem; margin-bottom: 0.5rem; }

#lunrsearchresults .lunrsearchresult:last-child { margin-bottom: 1rem; }

#lunrsearchresults .lunrsearchresult .title, #lunrsearchresults .lunrsearchresult .body, #lunrsearchresults .lunrsearchresult .url, #lunrsearchresults .lunrsearchresult a { display: block; }

#lunrsearchresults .lunrsearchresult .title { color: #0dcaf0; }

#lunrsearchresults .lunrsearchresult .body { margin-bottom: 0.25rem; }

#lunrsearchresults .lunrsearchresult .url { color: rgba(255, 255, 255, 0.65); font-size: 0.85rem; font-style: italic; }

#lunrsearchresults .lunrsearchresult a { color: rgba(255, 255, 255, 0.75); }

#lunrsearchresults .lunrsearchresult a:hover, #lunrsearchresults .lunrsearchresult .lunrsearchresult a:focus { text-decoration: none; background: none; box-shadow: none; }

#lunrsearchresults .lunrsearchresult a:hover .title { text-decoration: underline; }

.anchorjs-link:hover { text-decoration: none; }

h2 .anchorjs-link { margin-left: -1.5rem !important; }

/*# sourceMappingURL=main.css.map */