body
{
    color: #333;
}

#main-navigation .navbar-brand,
.text-bb-brand,
a.text-bb-brand,
.nav-sidebar .nav-item > .nav-link.active
{
    color: rgb(180, 14, 77);
}


.text-3wm-brand,
a.text-3wm-brand
{
    color: #57c1bb;
}


.header
{
    background: #333 url(../img/bg-dark.png) repeat repeat 0 0;
}


.bb-section
{
    margin-bottom: 4rem;
}


.bs-callout
{
    border-color: #eee;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 0 5px;
    margin: 1rem 0;
    padding: 1rem;
}

    .bs-callout h4,
    .bb-section .bs-callout.bs-callout .callout-heading
    {
        margin-bottom: 5px;
        margin-top: 0;
    }

    .bs-callout p:last-child
    {
        margin-bottom: 0;
    }

    .bs-callout code
    {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout
    {
        margin-top: -5px;
    }

    .bs-callout.bs-callout-danger
    {
        border-left-color: #ce4844;
    }

        .bs-callout.bs-callout-danger .callout-heading
        {
            color: #ce4844;
        }

    .bs-callout.bs-callout-warning
    {
        border-left-color: #aa6708;
    }

        .bs-callout.bs-callout-warning .callout-heading
        {
            color: #aa6708;
        }

    .bs-callout.bs-callout-info
    {
        border-left-color: #1b809e;
    }

        .bs-callout.bs-callout-info .callout-heading
        {
            color: #1b809e;
        }


.bb-example figure
{
    background-color: #F7F7F9;
    border-radius: 4px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0 0 15px;
    padding: 45px 0 15px;
    position: relative;
}

.bb-example pre
{
    margin-bottom: 5px;
}

.bb-example figcaption
{
    color: #959595;
    font-size: 14px;
    font-weight: 500;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

    .bb-example figcaption a
    {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 100%;
        opacity: 0;
        padding-right: 2px;
    }

    .bb-example figcaption:hover a
    {
        opacity: 1;
    }

    .bb-example figcaption b
    {
        font-weight: 700;
    }

.bb-example p:last-child
{
    margin-bottom: 0;
}


dd.bb-example
{
    margin-bottom: 2rem;
}


#bb-growl
{
    position: fixed;
    bottom: 25%;
    right: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
}


.bb-modal-content
{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.bb-modal-header
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

    .bb-modal-header .close
    {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
    }

.bb-modal-title
{
    margin-bottom: 0;
    line-height: 1.5;
}

.bb-modal-body
{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.bb-modal-footer
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

    .bb-modal-footer > :not(:first-child)
    {
        margin-left: .25rem;
    }

    .bb-modal-footer > :not(:last-child)
    {
        margin-right: .25rem;
    }

@media (min-width: 576px)
{
    .bb-modal-dialog
    {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .bb-modal-dialog-centered
    {
        min-height: calc(100% - (1.75rem * 2));
    }

        .bb-modal-dialog-centered::before
        {
            height: calc(100vh - (1.75rem * 2));
        }

    .bb-modal-sm
    {
        max-width: 300px;
    }
}

@media (min-width: 992px)
{
    .bb-modal-lg
    {
        max-width: 800px;
    }
}


.options-list
{
}

    .options-list dd
    {
        margin-bottom: 1rem;
        border-bottom: dotted 1px #ccc;
    }
