#footer
{
    padding: 2rem 0;
}

    #footer a
    {
        color: rgb(180, 14, 77);
    }


.twitter-share-button[style],
.twitter-follow-button[style]
{
    vertical-align: middle !important;
}


.bb-js
{
    color: #444;
    background: #efefef;
    padding-top: 55px;
}

    .bb-js .nav-link.nav-link-split
    {
        padding-right: 0;
    }


.text-bb-alt
{
    color: rgb(180, 14, 77);
}

.text-thin
{
    font-weight: 300;
}

.btn.btn-xl
{
    font-size: 3rem;
}


.bb-js .badge
{
    padding: 0.5rem;
}

.bb-js .bg-dark
{
    background-color: rgb(180, 14, 77) !important;
}

    .bb-js .bg-dark a.nav-link
    {
        color: rgba(255,255,255,0.75) !important;
    }

        .bb-js .bg-dark a.nav-link:hover
        {
            color: rgba(255,255,255,0.95) !important;
        }

    .bb-js .bg-dark .dropdown-item:focus,
    .bb-js .bg-dark .dropdown-item:hover
    {
        background-color: rgba(180, 14, 77, 0.75);
        color: rgba(255,255,255,0.85);
    }


.bb-main
{
    border-right: solid 1px #E9ECEF;
    border-left: solid 1px #E9ECEF;
    background: #fff;
}

    .bb-main p
    {
    }

.bb-header .jumbotron
{
    background: none;
    padding: 0;
}

.bb-docs-header
{
    background: #E9ECEF;
    padding: 1rem 0 75px;
}


.bb-masthead h1
{
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

@media (min-width: 768px)
{
    .bb-masthead h1
    {
        font-size: 5em;
    }

    .bb-masthead h2
    {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.1;
    }
}


.bb-meta
{
    font-size: 16px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 1rem 0;
}

    .bb-meta p
    {
        margin-bottom: 0;
    }

    .bb-meta .bb-meta-list
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .bb-meta .bb-meta-list li
        {
            display: inline-block;
            margin: 0 2em 0 0;
        }

            .bb-meta .bb-meta-list li:last-child
            {
                margin-right: 0;
            }

    .bb-meta a
    {
        color: rgb(180, 14, 77);
    }


.examples-container
{
    position: relative;
}


.bb-section
{
    margin: 2rem 0 4rem;
}

    .page-header,
    .bb-section .page-header
    {
        border-bottom: solid 1px rgba(0,0,0,0.125);
        padding-bottom: 0.35rem;
        margin-bottom: 1rem;
    }

    .bb-section p
    {
        margin-bottom: 1.35em;
    }


@media (min-width: 768px)
{
    .code-leader code
    {
        font-size: 2em;
    }
}

.bb-section:last-child
{
    margin-bottom: 0;
}

.bb-ex
{
    width: 8rem;
}

#gist6339780
{
    height: 600px;
    overflow: auto;
}

.bb-code
{
    font-family: "Courier";
    font-size: 1.2em;
}

    .bb-code.bb-code-sm
    {
        font-size: 1em;
    }

    .bb-code.bb-code-lg
    {
        font-size: 1.4em;
    }

    .bb-code.bb-code-block
    {
        display: block;
    }

    .bb-code .bb-code-string
    {
        color: #3276b1;
    }

    .bb-code .bb-code-parameter
    {
        color: #555;
    }

    .bb-code .bb-code-comment
    {
        color: #10AF36 !important;
    }

    .bb-code .bb-code-line
    {
        display: block;
        margin-left: 3rem;
    }

    .bb-code .bb-code-outline
    {
        padding: 1em;
        border: solid 1px rgba(255, 255, 255, .5);
    }

    .bb-code.bb-code-well
    {
        padding: 1em;
        margin: 0 0 1.5em;
        background: #f5f5f5;
    }


#scroll-up-btn
{
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background: none;
    color: #77c2db;
    line-height: 1;
    opacity: .65;
}

    #scroll-up-btn:hover
    {
        color: #B40E4D;
        opacity: 1;
    }


.bb-light-blue
{
    background-color: #54949B;
}


h3.bb-subsection-header
{
    clear: both;
    margin-bottom: 12px;
    padding-top: 16px;
}

h4.bb-subsection-header
{
    margin: 18px 0 12px;
}

.bb-subsection
{
    margin-bottom: 25px;
}

    .bb-subsection h4:not(.modal-title)
    {
        margin-top: 1.5em;
    }


.bb-example figure
{
    background-color: #F7F7F9;
    border-radius: 4px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0 0 15px;
    padding: 45px 0 15px;
    position: relative;
}

.bb-example pre
{
    margin-bottom: 5px;
}

.bb-example figcaption
{
    color: #959595;
    font-size: 14px;
    font-weight: 500;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

    .bb-example figcaption b
    {
        font-weight: 700;
    }

.bb-example p:last-child
{
    margin-bottom: 0;
}


.bb-function
{
    margin-bottom: 2rem;
}

    .bb-function h3
    {
        font-weight: normal;
        font-family: monospace;
    }

.bb-locales-list
{
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
}

    .bb-locales-list li
    {
        display: inline-block;
    }


.bb-notes-list
{
    margin: 2em 0;
}

    .bb-notes-list dt
    {
        border-bottom: dotted 1px #e5e5e5;
        margin-bottom: 8px;
        font-size: 1.3em;
    }

        .bb-notes-list dt:before
        {
            content: '\f0a4';
            font-family: FontAwesome;
        }

    .bb-notes-list dd
    {
        margin-bottom: 1.5em;
    }


.bb-examples-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

    .bb-examples-list > li
    {
        padding-bottom: 1em;
        margin-bottom: 2em;
        border-bottom: dotted 1px #d5d5d5;
    }



.bs-callout
{
    border-color: #eee;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 0 5px;
    margin: 1rem 0;
    padding: 1rem;
}

    .bs-callout h4,
    .bb-section .bs-callout.bs-callout .callout-heading
    {
        margin-bottom: 5px;
        margin-top: 0;
    }

    .bs-callout p:last-child
    {
        margin-bottom: 0;
    }

    .bs-callout code
    {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout
    {
        margin-top: -5px;
    }

    .bs-callout.bs-callout-danger
    {
        border-left-color: #ce4844;
    }

        .bs-callout.bs-callout-danger .callout-heading
        {
            color: #ce4844;
        }

    .bs-callout.bs-callout-warning
    {
        border-left-color: #aa6708;
    }

        .bs-callout.bs-callout-warning .callout-heading
        {
            color: #aa6708;
        }

    .bs-callout.bs-callout-info
    {
        border-left-color: #1b809e;
    }

        .bs-callout.bs-callout-info .callout-heading
        {
            color: #1b809e;
        }


.block-danger
{
    color: #fff;
    background: #ce4844;
    margin: 0;
    padding: 1em;
}

    .block-danger a
    {
        color: rgba(255, 255, 255, .85);
        text-decoration: underline;
    }


.bb-alert
{
    position: fixed;
    bottom: 25%;
    right: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
}


#examples-nav .nav-header
{
    color: rgba(255,255,255,0.5);
}

#examples-nav h6.nav-header
{
    margin-top: 1rem;
}

#examples-nav .nav-link
{
    color: rgba(255,255,255,0.95);
}


.bb-sidebar
{
    margin-right: -15px;
    display: block;
}

@media (min-width: 768px)
{
    .bb-sidebar-sticky .bb-sidebar
    {
        position: sticky;
        top: 75px;
        z-index: 1000;
        bottom: 0;
    }
}


.bb-sidebar nav
{
    display: block;
    width: 100%;
}

    .bb-sidebar nav a
    {
        color: #444;
        display: block;
    }


.text-sm
{
    color: #5a5a5a;
}