/* Colors */

$brand-primary: #ba2150;
$brand-secondary: #fff;
$brand-stack-overflow: #f48024;

$sidebar-bg-color: rgba(0,0,0,0.85);
$sidebar-text-color: #f5f5f5;
$primary-color: #fefefe;
$primary-highlight-color: #424242;
$border-color: #f9f9f9;
$submenu-bg-color: rgba(0,0,0,0.25);
$submenu-color: #343131;
$menu-icon-bg-color: #f9f9f9;
$menu-icon-color: #bdd4de;
$menu-icon-highlight-color: #ba2150;
$menu-header-color: lighten(#ba2150, 15%);
$search-input-bg-color: #fff;
$footer-bg-color: #f9f9f9;
$shadow-color: #ececec;
$scrollbar-color: #A4A29E;

/* Text */

$badge-font-weight: 500;

/* Sizes */

$rightbar-width: 360px;
$sidebar-width:280px;
$sidebar-pinned-width:80px;
$sidebar-brand-height:55px;
$sidebar-footer-height:35px;
$border-radius:4px;

$white: #fff;
$black: #000;
$light: #ededed;
$info: #0dcaf0;